@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Metrophobic";
  src: url("../assets/Metrophobic-Regular.ttf");
}
@font-face {
  font-family: "MergeOne";
  src: url("../assets/MergeOne-Regular.ttf");
}
@font-face {
  font-family: "txt-font";
  src: url("../assets/LeagueSpartan-VariableFont_wght.ttf");
}
.logo-img-format {
  height: 56px;
  width: auto;
  background-color: transparent;
}

.img-main {
  width: 100%;
  height: auto;
}

.flyer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0;
  padding: 0;
}
.flyer img {
  width: 100%;
}

html, body {
  background-image: url("../assets/bg-gif4.gif");
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-grid-bg {
  margin-top: 54px;
  width: 75%;
  border-radius: 24px;
  height: 300px;
  background-color: rgba(50, 50, 50, 0.5);
  /*background-image: url('https://raw.githubusercontent.com/Barazzuttip/barazzuttipdw/main/assets/main-img.png');
  background-position: top right;
  background-size: contain;
  background-repeat: no-repeat;*/
}

.h1-text {
  color: #8AF927;
  font-family: "Metrophobic";
  font-size: 1.5rem;
  text-align: center;
  /*text-shadow:
      1px 0 0 #ec6892,
      -1px 0 0 #FFE4ED;*/
}

.h2-main, .valores-div .cards-section-title .cst-name {
  font-size: 1.5rem;
  font-family: "MergeOne";
  width: 100%;
  color: #8AF927;
  text-align: center;
  text-shadow: 2px 2px 3px #000000;
}

.main-text1 {
  display: flex;
  width: 75%;
  margin: 5px;
  color: #FFE4ED;
}

.main-text2 {
  width: 75%;
  color: #FFE4ED;
}

.highlight {
  color: #FFE4ED;
}

.link-dec, .header-format .header-der .lista-nav .nav-item a {
  color: #FFE4ED;
  font-family: "Metrophobic";
  font-size: 16px;
  font-weight: lighter;
  text-decoration: none;
}

.title-h4 {
  color: #323232;
  padding: 5px;
  border-radius: 10px;
  background-color: #8af927;
  font-size: 20px;
  font-family: "Metrophobic";
  margin-top: 15px;
  box-shadow: 3px 3px 12px #000000;
  /*animation: floating 4s ease infinite;*/
}

.just-text {
  font-size: 16px;
  font-family: "txt-font";
  font-weight: 500;
  color: #FFE4ED;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  /*background-color: rgba($color: #323232, $alpha: 0.5)*/
}

.just-text2 {
  font-size: 16px;
  font-family: "txt-font";
  font-weight: 500;
  color: #323232;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
}

.header-format {
  z-index: 1;
  margin-top: 0;
  position: sticky;
  top: 0px;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to bottom, rgba(21, 21, 21, 0.7), rgba(50, 50, 50, 0.7));
}
.header-format .header-izq {
  background-color: transparent;
  display: flex;
  align-items: end;
  padding: 10px;
  margin-left: 10px;
}
.header-format .header-izq img {
  margin-left: 20px;
  margin-right: 20px;
}
.header-format .header-der {
  list-style-type: none;
  margin-right: 15px;
  width: 100%;
}
.header-format .header-der .lista-nav {
  background-color: transparent;
  display: flex;
  margin-bottom: 0;
}
.header-format .header-der .lista-nav .nav-item {
  display: flex;
  margin: 10px;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.5s ease;
}
.header-format .header-der .lista-nav .nav-item:hover {
  box-shadow: 3px 3px 3px #8AF927;
  transform: scale(1.1, 1.1);
}

.h1-text {
  color: #8AF927;
  font-family: "Metrophobic";
  font-size: 1.5rem;
  text-align: center;
  /*text-shadow:
      1px 0 0 #ec6892,
      -1px 0 0 #FFE4ED;*/
}

.h2-main, .valores-div .cards-section-title .cst-name {
  font-size: 1.5rem;
  font-family: "MergeOne";
  width: 100%;
  color: #8AF927;
  text-align: center;
  text-shadow: 2px 2px 3px #000000;
}

.main-text1 {
  display: flex;
  width: 75%;
  margin: 5px;
  color: #FFE4ED;
}

.main-text2 {
  width: 75%;
  color: #FFE4ED;
}

.highlight {
  color: #FFE4ED;
}

.link-dec, .header-format .header-der .lista-nav .nav-item a {
  color: #FFE4ED;
  font-family: "Metrophobic";
  font-size: 16px;
  font-weight: lighter;
  text-decoration: none;
}

.title-h4 {
  color: #323232;
  padding: 5px;
  border-radius: 10px;
  background-color: #8af927;
  font-size: 20px;
  font-family: "Metrophobic";
  margin-top: 15px;
  box-shadow: 3px 3px 12px #000000;
  /*animation: floating 4s ease infinite;*/
}

.just-text {
  font-size: 16px;
  font-family: "txt-font";
  font-weight: 500;
  color: #FFE4ED;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  /*background-color: rgba($color: #323232, $alpha: 0.5)*/
}

.just-text2 {
  font-size: 16px;
  font-family: "txt-font";
  font-weight: 500;
  color: #323232;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
}

.h1-text {
  color: #8AF927;
  font-family: "Metrophobic";
  font-size: 1.5rem;
  text-align: center;
  /*text-shadow:
      1px 0 0 #ec6892,
      -1px 0 0 #FFE4ED;*/
}

.h2-main, .valores-div .cards-section-title .cst-name {
  font-size: 1.5rem;
  font-family: "MergeOne";
  width: 100%;
  color: #8AF927;
  text-align: center;
  text-shadow: 2px 2px 3px #000000;
}

.main-text1 {
  display: flex;
  width: 75%;
  margin: 5px;
  color: #FFE4ED;
}

.main-text2 {
  width: 75%;
  color: #FFE4ED;
}

.highlight {
  color: #FFE4ED;
}

.link-dec, .header-format .header-der .lista-nav .nav-item a {
  color: #FFE4ED;
  font-family: "Metrophobic";
  font-size: 16px;
  font-weight: lighter;
  text-decoration: none;
}

.title-h4 {
  color: #323232;
  padding: 5px;
  border-radius: 10px;
  background-color: #8af927;
  font-size: 20px;
  font-family: "Metrophobic";
  margin-top: 15px;
  box-shadow: 3px 3px 12px #000000;
  /*animation: floating 4s ease infinite;*/
}

.just-text {
  font-size: 16px;
  font-family: "txt-font";
  font-weight: 500;
  color: #FFE4ED;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  /*background-color: rgba($color: #323232, $alpha: 0.5)*/
}

.just-text2 {
  font-size: 16px;
  font-family: "txt-font";
  font-weight: 500;
  color: #323232;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.bz {
  padding: 20px;
}
.bz h2 {
  text-align: center;
}

.valores-div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 54px;
}
.valores-div .cards-section-title {
  margin-bottom: 20px;
}
.valores-div .cards-section-title .cst-name {
  width: 100%;
}

.valores-style {
  display: flex;
}

.bz-layout {
  display: flex;
  justify-content: end;
}
.bz-layout .bz-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: start;
}
.bz-layout .bz-img-cont {
  display: flex;
  justify-content: start;
  width: 50%;
}
.bz-layout .bz-img-cont .bz-img {
  width: 100%;
}
.bz-layout .bz-img-cont .bz-img2 {
  display: none;
  width: 100%;
}

.certif {
  margin: 15px;
  border: 5px double #8AF927;
  border-radius: 25px;
  width: fit-content;
  height: 105%;
  box-shadow: 4px 4px 2px #000000;
}

.portaf {
  display: flex;
}

.faq {
  background-color: transparent;
  padding: 100px;
}
.faq .faq-acc {
  margin: 30px;
  border-radius: 10px;
  box-shadow: 5px 5px #8AF927, -5px -5px #5c9f24;
}

.contacto {
  background-image: url("https://www.fundacionsantillana.com/wp-content/uploads/2022/08/banner-contato-newsletter.jpg.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  /*background-color: #323232;*/
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.contacto a {
  width: 30%;
}
.contacto a .cont-card {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  width: 100%;
  transition: transform 1s ease, box-shadow 0.7s ease;
}
.contacto a .cont-card:hover {
  transform: rotate3d(-1, 1, 0, 30deg) scale(1.2, 1.2);
  box-shadow: 5px 5px 2px #323232;
}
.contacto a .cont-card img {
  width: 100%;
}

.svc-div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vw;
  width: 100%;
}

.consultas-div {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  background-color: rgba(50, 50, 50, 0.5);
  border-radius: 14px;
}

.display-div {
  width: 50vw;
  height: 60%;
  margin-left: 10px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  box-shadow: 2px 2px 8px wheat, 1px -1px 4px wheat, -1px 1px 4px wheat, -1px -1px 4px wheat;
}

.svc-cardstyle {
  display: flex;
  flex-direction: row;
  border-radius: 12px;
}
.svc-cardstyle ul {
  list-style-type: none;
}

.svc-formstyle select {
  border-radius: 5px;
  background-color: transparent;
  color: #8AF927;
}

.svc-preset {
  box-shadow: 2px 2px 8px wheat, 2px -2px 8px wheat, -2px 2px 8px wheat, -2px -2px 8px wheat;
}

.main-grid {
  display: grid; /*grilla principal de la pagina*/
  grid-template-columns: 1fr; /*filas y columnas*/
  grid-template-rows: auto;
  row-gap: 5px;
  column-gap: 5px;
}
.main-grid .main-grid-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.grid-cont-bz {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  margin-bottom: 20px;
}
.grid-cont-bz .grid1-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid-cont-bz .grid1-2 {
  display: flex;
  align-items: center;
  text-align: initial;
}
.grid-cont-bz .grid2-1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.grid-cont-bz .grid2-2 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
}

.footer-format {
  display: flex;
  justify-content: space-between;
  margin: 0;
  background-image: linear-gradient(to bottom, rgba(50, 50, 50, 0.7), rgba(21, 21, 21, 0.7));
}
.footer-format .footer-logo {
  width: 10%;
  height: 10%;
  margin: 20px;
  /*margin-right: 100px;*/ /*mejora la estética en vista desktop, revisar en mobile*/
}
.footer-format .footer-izq {
  margin: 15px;
}
.footer-format .footer-izq .form-data {
  display: flex;
  margin: 5px;
}
.footer-format .footer-izq .form-data label {
  margin: 5px;
  color: #FFE4ED;
  font-family: "kodchasan-medium";
}
.footer-format .footer-izq .form-data input {
  border-radius: 10px;
}
.footer-format .footer-izq .form-input {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.footer-format .footer-izq .form-input label {
  color: #FFE4ED;
  font-family: "kodchasan-medium";
}
.footer-format .footer-izq .form-input .txt-input {
  width: 100%;
  height: 64px;
  border-radius: 10px;
}
.footer-format .footer-izq .form-input .btn-input {
  display: inline-block;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  background-color: #FFE4ED;
  color: #151515;
  font-family: "kodchasan-medium";
  font-size: 14px;
  font-weight: bold;
}
.footer-format .footer-der {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 25px;
}
.footer-format .footer-der h5 {
  color: #8AF927;
  font-size: 18px;
}
.footer-format .footer-der ul {
  list-style: none;
}
.footer-format .footer-der ul li {
  margin: 0;
  padding: 5px;
  color: #FFE4ED;
}
.footer-format .footer-der ul li img {
  margin-right: 10px;
  margin-top: 5px;
}
.footer-format .footer-der ul li a {
  text-decoration: none;
  color: #FFE4ED;
}
.footer-format .footer-der .img-footer {
  width: 24px;
}

.main-btn {
  text-decoration: none;
  font-size: 18px;
  font-family: "kodchasan-light";
  display: flex;
  margin: 10px;
  padding: 5px;
  justify-content: center;
  width: fit-content;
  justify-self: center;
  text-align: center;
  background-color: #151515;
  box-shadow: 4px 4px 3px #000000;
  border-radius: 5px;
  color: #8AF927;
  /*@extend formato de texto para el boton*/
}

.btn-drop {
  text-decoration: none;
  font-size: 18px;
  font-family: "kodchasan-medium" !important;
  display: flex;
  margin: 10px;
  padding: 5px;
  justify-content: center;
  width: 100%;
  text-align: center;
  border: none !important;
  background-image: linear-gradient(to bottom, #151515, #323232) !important;
  box-shadow: 4px 4px 3px #000000;
  border-radius: 5px;
  color: #FFE4ED !important;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.btn-svc {
  padding-bottom: 15px;
  padding-top: 15px;
  background-color: transparent;
  border: none;
  font-family: "txt-font";
  font-size: 24px;
  font-weight: 400;
  color: #FFE4ED;
}
.btn-svc:hover {
  background-color: #8AF927;
  color: #323232;
}

.btn-last {
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
}

.btn-card {
  padding-bottom: 15px;
  padding-top: 15px;
  background-color: #323232;
  margin-left: 5px;
  border-radius: 12px;
  height: fit-content;
  align-self: center;
  border: none;
  font-family: "txt-font";
  font-size: 16;
  padding: 10px;
  font-weight: 400;
  color: #FFE4ED;
}
.btn-card:hover {
  background-color: #8AF927;
  color: #323232;
}

.h1-text {
  color: #8AF927;
  font-family: "Metrophobic";
  font-size: 1.5rem;
  text-align: center;
  /*text-shadow:
      1px 0 0 #ec6892,
      -1px 0 0 #FFE4ED;*/
}

.h2-main, .valores-div .cards-section-title .cst-name {
  font-size: 1.5rem;
  font-family: "MergeOne";
  width: 100%;
  color: #8AF927;
  text-align: center;
  text-shadow: 2px 2px 3px #000000;
}

.main-text1 {
  display: flex;
  width: 75%;
  margin: 5px;
  color: #FFE4ED;
}

.main-text2 {
  width: 75%;
  color: #FFE4ED;
}

.highlight {
  color: #FFE4ED;
}

.link-dec, .header-format .header-der .lista-nav .nav-item a {
  color: #FFE4ED;
  font-family: "Metrophobic";
  font-size: 16px;
  font-weight: lighter;
  text-decoration: none;
}

.title-h4 {
  color: #323232;
  padding: 5px;
  border-radius: 10px;
  background-color: #8af927;
  font-size: 20px;
  font-family: "Metrophobic";
  margin-top: 15px;
  box-shadow: 3px 3px 12px #000000;
  /*animation: floating 4s ease infinite;*/
}

.just-text {
  font-size: 16px;
  font-family: "txt-font";
  font-weight: 500;
  color: #FFE4ED;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  /*background-color: rgba($color: #323232, $alpha: 0.5)*/
}

.just-text2 {
  font-size: 16px;
  font-family: "txt-font";
  font-weight: 500;
  color: #323232;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
}

.cards-style {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(50, 50, 50, 0.8) !important;
  box-shadow: 4px 4px 2px #000000;
  margin-left: 25px;
  margin-right: 25px;
  height: fit-content !important;
}
.cards-style .img-card {
  width: 48px;
  background-color: #8AF927;
  border: 10px double #323232;
  opacity: 100%;
  border-radius: 10px;
  padding: 5px;
}
.cards-style .card-body-style {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
}
.cards-style .card-body-style .card-title {
  font-family: "MergeOne";
}
.cards-style .card-body-style .card-txt {
  text-align: center;
  font-family: "txt-font";
}
.cards-style .card-body-style .svcard-t {
  font-family: "MergeOne";
  font-size: 2rem;
  color: #FFE4ED;
  text-align: center;
}
.cards-style .card-body-style .svcard-subt,
.cards-style .card-body-style h4 {
  font-family: "Metrophobic";
  margin: 5px;
  font-size: 1.5rem;
  color: #8AF927;
}
.cards-style .card-body-style p,
.cards-style .card-body-style ul {
  color: #FFE4ED;
  margin: 5px;
  text-align: start;
}

.card-link {
  font-size: 18px;
  font-family: "MergeOne" !important;
  font-weight: normal;
  text-decoration: underline !important;
  text-decoration-thickness: 1px !important;
  color: #8AF927 !important;
  border-radius: 8px;
  background-color: transparent !important;
  border: none !important;
  padding: 5px;
  transition: box-shadow 0.5s ease, transform 0.5s ease !important;
}
.card-link:hover {
  color: #FFE4ED !important;
  background-color: transparent;
  transform: scale(1.1, 1.1);
  box-shadow: 3px 3px 3px #8AF927;
}
.card-link .svcard-img {
  width: 48px;
  height: auto;
  color: #FFE4ED;
  margin-right: 6px;
}

.svcards {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-around;
}

.bz-card {
  margin-top: 25px;
  margin-left: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bz-card .bz-card-img {
  width: 256px;
  height: 154px;
  object-fit: cover;
  object-position: top;
  box-shadow: 3px 3px 0 #8AF927, -3px -3px 0 #5c9f24;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  /*border: 4px double #FEACC6;*/
  border-radius: 25px;
}
.bz-card .bz-card-img:hover {
  box-shadow: 3px 3px 12px #000000;
  transform: scale(1.1, 1.1);
}
.bz-card .bz-card-body {
  display: flex;
  background-color: rgba(50, 50, 50, 0.5);
  flex-direction: column;
  align-items: start;
  text-align: start;
  margin-top: 25px;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 4px 4px 12px #000000;
}
.bz-card .bz-card-body h3 {
  font-size: 24px;
  text-align: start;
}
.bz-card .bz-card-body p {
  color: #FFE4ED;
  font-size: 16px;
  margin-bottom: 10px;
}

.carousel-style .carousel-inner h5 {
  font-family: "kodchasan-bold";
}
.carousel-style .carousel-inner p {
  font-family: "kodchasan-medium";
}

.drop-mq {
  display: none;
  margin-right: 50px;
  background-color: transparent !important;
  color: transparent !important;
}

@media only screen and (min-width: 650) and (max-width: 1300px) {
  /*******pagina de inicio*******/
  /*header*/
  .header-format {
    width: 100%;
    justify-content: space-around;
  }
  .h1-text {
    display: none;
  }
  .nav-visual {
    display: none;
  }
  .drop-mq {
    display: flex;
  }
  /*articulo ppal*/
  .h2-main, .valores-div .cards-section-title .cst-name {
    width: 100%;
  }
  .main-text1 {
    width: 100%;
  }
  .main-text2 {
    width: 100%;
  }
  .main-grid-div {
    grid-column: 1/span 2;
    grid-row: 1;
    justify-content: start !important;
  }
  .main-grid-bg {
    background-position: bottom;
    background-size: 50%;
  }
  /*valores*/
  .valores-style {
    justify-content: start;
    align-items: start;
    width: 75%;
  }
  .cards-style {
    justify-content: start;
    align-items: center;
    width: 50%;
  }
  .card-txt {
    display: none;
  }
  /*footer*/
  .footer-format {
    justify-content: space-around;
    margin-top: 150px;
  }
  .footer-format .footer-izq {
    display: none;
  }
  .footer-format .footer-logo {
    width: 20%;
    height: 20%;
  }
  /************/
  /*barazzutti*/
  /************/
  .bz-img {
    display: none;
  }
  .bz-img-cont {
    display: none;
  }
  .grid-cont-bz {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 0.5fr);
  }
  .grid-cont-bz .grid1-2 {
    grid-row: 1;
    grid-column: 1;
  }
  .grid-cont-bz .grid1-1 {
    grid-row: 2;
  }
  .portaf {
    flex-direction: column;
  }
  .bz-img {
    display: none;
  }
  .bz-img2 {
    display: flex !important;
  }
  .contacto {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .contacto a {
    width: 40%;
    display: flex;
    justify-content: space-around;
  }
  body,
  html {
    /*background-image: url(../../assets/portafolios-bg-mbl.png) !important;*/
    background-size: cover;
    background-position: top center;
  }
  body {
    height: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .buttons {
    width: 100%;
  }
  .btn-svc {
    font-size: 18px;
  }
  .svc-div {
    flex-direction: column;
  }
}
@media only screen and (max-width: 650px) {
  /*******pagina de inicio*******/
  /*header*/
  .header-format {
    width: 100%;
    justify-content: space-around;
  }
  .svc-div {
    flex-direction: column;
  }
  .h1-text {
    display: none;
  }
  .nav-visual {
    display: none;
  }
  .drop-mq {
    display: flex;
  }
  /*articulo ppal*/
  .h2-main, .valores-div .cards-section-title .cst-name {
    width: 100%;
  }
  .main-text1 {
    width: 100%;
  }
  .main-text2 {
    width: 100%;
  }
  .main-grid-div {
    grid-column: 1/span 2;
    grid-row: 1;
    justify-content: start !important;
  }
  .main-grid-bg {
    background-position: bottom;
    background-size: 50%;
  }
  .main-btn {
    width: 30%;
  }
  /*valores*/
  .valores-style {
    justify-content: start;
    align-items: start;
    width: 100%;
  }
  .cards-style {
    justify-content: start;
    align-items: center;
    width: 50%;
    margin: 5px;
  }
  .card-txt {
    display: none;
  }
  /*footer*/
  .footer-format {
    justify-content: space-around;
    align-self: end;
    margin-bottom: 0;
    margin-top: 350px;
  }
  .footer-format .footer-izq {
    display: none;
  }
  .footer-format .footer-logo {
    width: 30%;
    height: 30%;
  }
  /*****SERVICIOS*****/
  .svcards {
    flex-direction: column;
    align-items: center;
  }
  /************/
  /*barazzutti*/
  /************/
  .grid-cont-bz {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 0.5fr);
  }
  .grid-cont-bz .grid1-2 {
    grid-row: 1;
    grid-column: 1;
  }
  .grid-cont-bz .grid1-1 {
    grid-row: 2;
  }
  .portaf {
    flex-direction: column;
  }
  .bz-img {
    display: none;
  }
  .bz-img2 {
    display: flex !important;
  }
  /**********************/
  /*contacto*/
  .contacto {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .contacto a {
    width: 50%;
    display: flex;
    justify-content: space-around;
  }
  body,
  html {
    /* background-image: url(../assets/portafolios-bg-mbl.png) !important;*/
    background-size: auto;
    background-repeat: repeat;
  }
  .svc-div {
    margin-top: 350px;
  }
  .svc-div .display-div {
    margin-top: 100px;
    height: 120%;
    width: 100%;
  }
  .svc-preset {
    box-shadow: none;
  }
}
@keyframes floating {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(0px, 1px);
  }
  20% {
    transform: translate(1px, 1px);
  }
  30% {
    transform: translate(0px, 1px);
  }
  40% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(1px, 1px);
  }
  60% {
    transform: translate(0, 0);
  }
  70% {
    transform: translate(0, 0);
  }
  80% {
    transform: translate(0, 0);
  }
  90% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

/*# sourceMappingURL=style.css.map */
