.logo-img-format {
    height: 56px;
    width: auto;
    background-color: transparent;
}

.img-main {
    width: 100%;
    height: auto;
}
.flyer {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
    img {
        width: 100%;
    }
}