.main-btn {
    text-decoration: none;
    font-size: 18px;
    font-family: 'kodchasan-light';
    display: flex;
    margin: 10px;
    padding: 5px;
    justify-content: center;
    width: fit-content;
    justify-self: center;
    text-align: center;
    background-color: #151515;
    box-shadow:
        4px 4px 3px #000000;
    border-radius: 5px;
    color: #8AF927;
    /*@extend formato de texto para el boton*/
}
.btn-drop {
    text-decoration: none;
    font-size: 18px;
    font-family: 'kodchasan-medium' !important;
    display: flex;
    margin: 10px;
    padding: 5px;
    justify-content: center;
    width: 100%;
    text-align: center;
    border: none !important;
    background-image: linear-gradient(to bottom, #151515, #323232) !important;
    box-shadow:
        4px 4px 3px #000000;
    border-radius: 5px;
    color: #FFE4ED !important;
}

.buttons {
    display: flex;
    flex-direction: column;
    
}

.btn-svc{
    padding-bottom: 15px;
    padding-top: 15px;
    background-color: transparent;
    border: none;
    font-family: 'txt-font';
    font-size: 24px;
    font-weight: 400;
    color: #FFE4ED;
    &:hover{
        background-color: #8AF927;
        color: #323232;
    }
}
.btn-last{
    border-bottom-right-radius: 14px;
    border-bottom-left-radius: 14px;
}