@import '../layouts/texts';
.cards-style {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: radial-gradient(circle closest-side, #6c6c6c,  #323232);
    .img-card {
        width: 48px;
        background-color: #FEACC6;
        border: 10px double #323232;
        opacity: 100%;
        border-radius: 10px;
        padding: 5px;
    }
    .card-body-style {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5px;
        .card-txt {
            text-align: center;
        }
        .svcard-t {
            font-family: 'jura';
            font-size: 2rem;
            color: #FFE4ED;
            text-align: center;
        }
        .svcard-subt, h4 {
            font-family: 'kodchasan-bold';
            margin: 5px;
            font-size: 1.5rem;
            color: #FEACC6;
        }
        p ,ul{
            color: #FFE4ED;
            margin: 5px;
            text-align: start;
        }
    }
}
.card-link {
    font-size: 18px;
    font-family: 'jura'; /*buscar una mejor fuente*/
    font-weight: bold;
    text-decoration: none;
    color: #323232;;
    border-radius: 5px;
    background-color: #FFE4ED;
    padding: 5px ;
    .svcard-img {
        width: 16px;
        height: auto;
        margin-right: 6px;
    }
}

.card-link:hover {
    color: #323232;
    background-color: #FEACC6;
}

.svcards {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-around;
}
.bz-card {
    margin-top: 25px;
    margin-left: 25px;
    .bz-card-img {
        width: 256px;
        height: 154px;
        object-fit: cover;
        object-position: top;
        box-shadow: 
                    3px 3px 0 #FEACC6,
                    -3px -3px 0 #ec6892;;
                transform: scale(1.1,1.1);
        /*border: 4px double #FEACC6;*/
        border-radius: 25px;
    }
    .bz-card-img:hover {
        box-shadow: 
                    3px 3px 0 #ec6892,
                    -3px -3px 0 #FEACC6;;
                transform: scale(1.1,1.1);
    }
    .bz-card-body {
        display: flex;
        flex-direction: column;
        align-items: start;
        text-align: start;
        margin-top: 25px;
        h3 {
            font-size: 24px;
            text-align: start;
        }
        p {
            color: #FFE4ED;
            font-size: 16px;
            margin-bottom: 10px;
        }
    }
}

