@font-face {
    font-family: 'Metrophobic';
    src: url('../assets/Metrophobic-Regular.ttf');
}
@font-face {
    font-family: 'MergeOne';
    src: url('../assets/MergeOne-Regular.ttf');
}
@font-face {
    font-family: 'txt-font';
    src: url('../assets/LeagueSpartan-VariableFont_wght.ttf');
}