html, body {
    background-image: url(../../assets/portafolio-bg-dsktop.png);
    background-position: top    left;
    background-repeat: no-repeat;
    background-size: cover;
}
.main-grid-bg {
    width: 100%;
    height: 500px;
    background-image: url('https://raw.githubusercontent.com/Barazzuttip/barazzuttipdw/main/assets/main-img.png');
    background-position: top right;
    background-size: contain;
    background-repeat: no-repeat;
}