@import 'texts';
.header-format {
    z-index: 1;
    margin-top: 0;
    position: sticky;
    top: 0px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to bottom, rgba(21,21,21,0.9),rgba(50,50,50,0.9));
    .header-izq {
        background-color: transparent;
        display: flex;
        align-items: center;
        padding: 10px;
        margin-left: 10px;
        img {
            margin-left: 20px;
            margin-right: 20px;
        }

    }

    .header-der {
        list-style-type: none;
        margin-right: 15px;
        width: 100%;
        .lista-nav {
            background-color: transparent;
            display: flex;
            margin-bottom: 0;
            .nav-item {
                display: flex;
                margin: 10px;
                padding: 5px;
                border-radius: 10px;           
                a {
                    @extend .link-dec;
                }
                cursor: pointer;
                transition: transform 0.5s ease;
            }
            .nav-item:hover {
                box-shadow: 
                    3px 3px 3px #8AF927;
                transform: scale(1.1,1.1);
            }
        }
    }
}